.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    
  }
  .output {
    border: 1px solid #ccc;
    padding: 10px;
    width: 45%;
    text-align: center; 
  }
  /* .pascalOutput{
    flex-direction: column;
    align-items: center;
    justify-content: center;

  } */
  .inputNumber{
    text-align: center;
  }
  .highlight{
    border: 2px solid red;
    padding: 5px;
  }
  .row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
  }
  .normal{
    padding: 5px;
  }
  #search{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
  }
  #inputNumber{
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  }